# Python
__pycache__/
*.pyc

# Virtual environment
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Model artifacts (optional – see note below)
# Uncomment if model is large
# tools/*.pkl
